.aboutproject__line {
  height: 1px;
  margin: 0;
}
.aboutproject__title {
  margin: 0px 0px 23px 0px;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
}

.aboutproject__content {
  padding: 110px 0px 110px 0px;
}
.aboutproject__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  margin: 70px 0px 0px 0px;
}
.aboutproject__subtitle {
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

.aboutproject__description {
  font-size: 14px;
  line-height: 20px;
  margin: 26px 0px 0px 0px;
}

.aboutproject__progress {
  display: grid;
  grid-template-columns: 1.3fr 5fr;
  margin: 110px 0px 0px 0px;
}

.aboutproject__progress-backend {
  height: 36px;
  background: #2BE080;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.aboutproject__progress-frontend {
  height: 36px;
  background: #F2F2F2;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.aboutproject__progress-backend_text {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.aboutproject__progress-frontend_text {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.aboutproject__progress-subtitle {
  display: grid;
  grid-template-columns: 1.3fr 5fr;
  text-align: center;
}

.aboutproject__progress-subtitle_backend {
  color: #A0A0A0;
  margin: 0;
  padding-top: 14px;
}

.aboutproject__progress-subtitle_frontend {
  color: #A0A0A0;
  padding-top: 14px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .aboutproject__text {
    column-gap: 30px;
   }
   .aboutproject__content {
    padding: 90px 0px 90px 0px;
  }
  .aboutproject__progress {
    margin: 93px 0px 0px 0px;
  }
  .aboutproject__description {
    font-size: 12px;
    margin-top: 22px;
  }
}

@media screen and (max-width: 550px) {
  .aboutproject__progress {
    grid-template-columns: 2fr 5fr;
  }
  .aboutproject__progress-subtitle {
    grid-template-columns: 2fr 5fr;
  }
  .aboutproject__progress-backend_text {
    font-size: 11px;
    line-height: 13px;
  }
  .aboutproject__progress-frontend_text {
    font-size: 11px;
    line-height: 13px;
  }
  .aboutproject__progress-subtitle_backend {
    font-size: 11px;
    line-height: 13px;
  }
  .aboutproject__progress-subtitle_frontend {
    font-size: 11px;
    line-height: 13px;
  }
}

@media screen and (max-width: 420px) {
  .aboutproject__content {
    padding: 60px 0px 70px 0px;
  }
  .aboutproject__text {
    grid-template-columns: 1fr;
   }
  .aboutproject__progress {
    margin: 60px 0px 0px 0px;
    grid-template-columns: 2.5fr 5fr;
  }
  .aboutproject__progress-subtitle {
    grid-template-columns: 2.5fr 5fr;
  }
  .aboutproject__description {
    font-size: 12px;
    margin-top: 16px;
  }
  .aboutproject__subtitle__second {
    grid-row-start: 3;
    margin-top: 56px;
  }
}